.dashboard-sidebar {
  width: 260px;
  background: #0b457f;
  color: white;
  padding: 20px;
  height: 100%;
}

.dashboard-sidebar .logo {
  margin-bottom: 30px;
}

.dashboard-sidebar nav a {
  display: block;
  color: white;
  padding: 10px 12px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 6px;
}

.dashboard-sidebar nav a.active,
.dashboard-sidebar nav a:hover {
  background: rgba(255,255,255,0.15);
}

.btn-cerrarSesion{
  color: white;
  background: #dc2727;
}

/* CONTENEDOR DEL LOGO */
.sidebar-logo {
  width: 100%;
  padding: 1.5rem 1rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
}

/* IMAGEN */
.sidebar-logo img {
  max-width: 100%;
  max-height: 140px;
  object-fit: contain;
  display: block;
}

/*estilos para LOGO*/
/* CONTENEDOR DEL LOGO */
.sidebar-logo-wrapper {
  width: 100%;
  height: 180px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  overflow: hidden;
}

/* IMAGEN */
.sidebar-logo-wrapper img {
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  object-fit: contain;

  display: block;
}


/* estilos para el modal*/

/* Fondo oscuro */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal */
.modal {
  background: white;
  padding: 1.5rem;
  width: 100%;
  max-width: 380px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.modal h2 {
  font-size: 1.1rem;
  color: #004884;
  margin-bottom: .5rem;
}

.modal p {
  font-size: .9rem;
  color: #374151;
  margin-bottom: 1.5rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: .75rem;
}

.btn-cancel {
  flex: 1;
  background: #e5e7eb;
  border: none;
  padding: .5rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-confirm {
  flex: 1;
  background: #004884;
  color: white;
  border: none;
  padding: .5rem;
  border-radius: 4px;
  cursor: pointer;
}

