@media (max-width: 991.98px) {
  .navbar-nav-menu-govco {
    flex-direction: column !important;
    align-items: flex-start;
    width: 100%;
  }

  .navbar-nav-menu-govco .nav-item {
    width: 100%;
  }

  .navbar-nav-menu-govco .nav-link {
    width: 100%;
    white-space: normal;
  }
}

/* =========================================
   PANTALLAS GRANDES / TV / ULTRAWIDE
   ========================================= */

@media screen and (min-width: 1440px) {
  .govco-container {
    max-width: 1320px;
  }
}

@media screen and (min-width: 1600px) {
  .govco-container {
    max-width: 1400px;
  }
}

@media screen and (min-width: 1920px) {
  .govco-container {
    max-width: 1440px;
  }
}
