.dashboard-topbar {
  background: white;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu{
  background-color: #ddd;
}

.titulo-topbar{
  align-items: first baseline;
}
